URxvt*transparent: true
URxvt*shading: 20
URxvt*saveLines: 12000
/* #URxvt*font: xft:Bitstream Vera Sans Mono:pixelsize=12:antialias=true:hinting=true */
/* #URxvt*boldFont: xft:Bitstream Vera Sans Mono:bold:pixelsize=12:antialias=true:hinting=true */
URxvt*font: xft:JetBrains Mono Nerd Font Mono:pixelsize=16:antialias=true:hinting=true
URxvt*boldFont: xft:JetBrains Mono Nerd Font Mono:bold:pixelsize=16:antialias=true:hinting=true
/* #URxvt*font: xft:Liberation Mono:pixelsize=13:antialias=true:hinting=true */
/* #URxvt*boldFont: xft:Liberation Mono:bold:pixelsize=13:antialias=true:hinting=true */
/* #URxvt*font: xft:terminus:pixelsize=15 */
/* #URxvt*boldFont: xft:terminus:bold:pixelsize=15 */
/* #URxvt*font:-*-courier-medium-r-normal-*-14-*-*-*-*-*-iso8859-1 */
/* #URxvt*boldFont:-*-courier-bold-r-normal-*-14-*-*-*-*-*-iso8859-1 */
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollstyle: rxvt

/* URxvt*tintColor: #BFBFBF */
URxvt*.foreground: #F8F8F2
URxvt*.background: #282A36
URxvt*.color0:     #000000
URxvt*.color1:     #FF5555
URxvt*.color2:     #50FA7B
URxvt*.color3:     #F1FA8C
URxvt*.color4:     #BD93F9
URxvt*.color5:     #FF79C6
URxvt*.color6:     #8BE9FD
URxvt*.color7:     #BFBFBF
URxvt*.color8:     #4D4D4D
URxvt*.color9:     #FF6E67
URxvt*.color10:    #5AF78E
URxvt*.color11:    #F4F99D
URxvt*.color12:    #CAA9FA
URxvt*.color13:    #FF92D0
URxvt*.color14:    #9AEDFE
URxvt*.color15:    #E6E6E6

URxvt*.cursorColor:#FF5555
URxvt*.cursorColor2:#FFFFFF
URxvt*.highlightColor:#FF5555
URxvt*.highlightColor2:#FFFFFF

