# enable color support of ls
if type dircolors &>/dev/null; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
fi

alias ls='ls --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias lh='ls -lh'
alias l='ls -CF'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias nv='nvim'
alias n='nvim'
alias v='vim'
alias lg='lazygit'
alias ld='lazydocker'
alias t='tmux'
alias ta='tmux a'
alias ssh='TERM=xterm ssh'
alias tn="tmux new -s \$(basename $(pwd))"
alias copy="xclip -selection clipboard"
alias yz="yazi"
alias ns='nix-shell --command zsh'
alias sc='systemctl'
alias scu='systemctl --user'
alias tldrf='tldr --list | fzf --preview "tldr {1} --color=always" --preview-window=right,70% | xargs tldr'
alias k='kubectl'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

cheat() {
  curl --silent cheat.sh/$1 | bat
}

run() {
  echo $1 $2 $3
  if [ -z $1 ]; then
    echo "Usage: run <cmd> <mem>[K|M|G] <cpu>%"
  else
    systemd-run --user --scope -p MemorySwapMax=0 -p MemoryMax=$2 -p CPUQuota=$3 $1
  fi
}

if type bat &>/dev/null; then
  alias cat="bat"
  alias less="bat --paging=always"
  export MANPAGER="sh -c 'col -bx | bat -l man -p'" # prettier manpages
  export MANROFFOPT="-c"
fi

if type tofu &>/dev/null; then
  alias tf='tofu'
else
  alias tf="terraform"
fi
